~$oject plan.docx
31_AR2022_Assessment.pdf
Assessment_AR_2022.pdf
manusmcauliffe2022-02-24_00-23-10.png
project plan.docx
cone object/desktop.ini
cone object/texture_1001.png
cone object/texture_1002.png
cone object/texturedMesh.mtl
cone object/texturedMesh.obj
report/~$plementation.docx
report/analysis and discussion.docx
report/desktop.ini
report/experiment and results.docx
report/implementation.docx
report/intro.docx
report/theoretical background.docx
